/* Welcome section */
.welcome{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 60px;
    width: 100%;
    height: 60vh;
    background-image: url(../img/dog\ cat2.jpg);
    background-position: center center;
    background-size: cover;  
    background-repeat: no-repeat;
    text-align: center;   
    color:  #F0F3F5;
}

h1 {
    color: #DCD6F7;
    text-shadow: 2px 2px 4px black;

}
.welcome p{
    margin-top: 0;
    -webkit-text-stroke: 0.5px black;
    font-size: 28px;
    text-shadow: 2px 2px 4px black;
}
