/* Website by Daniela Lins. 
Last Update: 07.02.2021 */

/* GOOGLE FONT CODE 

    HEADER FONT
    font-family: Herbarium;

    BODY FONT
    font-family  'Josefin Sans'; 
*/

/* Importing session styles */
@import url("about.css");
@import url("hero.css");
@import url("nav.css");
@import url("services.css");
@import url("contact.css");
@import url("reviews.css");
@import url("blog.css");

/* General styles */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  background-color: #f0f3f5;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  color: #49475b;
  font-size: 26px;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Architects Daughter", cursive, Helvetica, sans-serif;
}

h4 {
  text-align: center;
  color: #985f6f;
  font-size: 50px;
}

/* Set the Links */
a:link,
a:visited {
  color: #985f6f;
  text-decoration: none;
}

a:hover,
a:active {
  color: #1b998b;
}


/* Utility classes */
.clearfix {
  clear: both;
}

.mar-0 {
  margin: 0;
}

.bg-table {
  background-color: RGB(180, 134, 159, 0.1);
}
